<html>
  <head>
    <title>Everything</title>
  </head>

  <body>
    <div id="header">
      <h1>Everything</h1>
    </div>
    
    <div id="inner">
      <div id="input">
        <form method="post" action="/">
          <textarea></textarea>
          <input type="submit" value="追加"/>
        </form>
      </div>
    </div>

    <div id="footer">
      <address>
        &copy; 2009 <a href="http://d.hatena.ne.jp/griefworker">griefworker</a>
      </address>
    </div>
  </body>
</html>

